<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.qimi.cn.module_video">

    <application>
        <activity
            android:name=".VideoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".VideoDetailActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>